/**********************************
	RTL Styling
**********************************/

body{
	direction: rtl;
	unicode-bidi: embed;
}

/**********************************
	Header
**********************************/

#header .site-title{
	float: right;
}

#nav-menu{
	float: left;
}

#nav-menu .submenu-parent > a{
	background-image: url("../images/arrow-left.png");
	background-position: 20px 55%;
}

#nav-menu .sub-menu .submenu-parent:hover > .sub-menu{
	left: auto;
	right: 100%;
	top: 0;
}

#nav-menu > li {
	float: right;
	margin-right: 10px;
	margin-left: 0;
}

#nav-menu .submenu-parent:hover > .sub-menu{
    right: -3px;
    left: auto;
}

#nav-menu .sub-menu .sub-menu {
	border-radius: 2px 0 0 2px;
}

.site-title a.logo{
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

.welcome-message span{
	float: right;
	margin: 0 -5px 0 35px;
}

.slider-direction-nav li a.slider-next{
	left: 34px;
	right: auto;
}

/**********************************
	Fullwidth Message
**********************************/

.fullwidth-message p{
	float: right;
}

.fullwidth-message > a{
	float: left;
}

.slider-direction-nav li a.slider-prev {
	left: 0;
	right: auto;
}

#slider .slider-direction-nav li a.slider-next {
	right: auto;
	left: 60px;
}

#slider .slider-direction-nav li a.slider-prev{
	left: 25px;
	right: auto;
}

#slider p.slide-description,
#slider p.slide-caption{
	right: 50px;
	left: auto;
}

/**********************************
	Portfolio
**********************************/

.portfolio-keywords li{
	float: right;
	margin: 0 0 15px 25px;
}

.portfolio-list li {
    float: right;
}

.portfolio-similar-items > h4, 
.portfolio-meta li span{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

.portfolio-meta li p{
	float: right;
}

.portfolio-similar-items span.view-more-icon,
.portfolio-list span.view-more-icon{
	right: 50%;
	left: auto;
	margin-left: 0;
	margin-right: -25px;
}

.isotope .isotope-item {
	-webkit-transition-property: right, top, -webkit-transform, opacity;
	-moz-transition-property: right, top, -moz-transform, opacity;
	-ms-transition-property: right, top, -ms-transform, opacity;
	-o-transition-property: right, top, -o-transform, opacity;
	transition-property: right, top, transform, opacity;
}

html .slider-viewport{
	direction: ltr;
}

html .slider-viewport li{
	direction: rtl;
}

.flexslider.testimonials .slides img,
.testimonials ul img {
	float: right;
}

.testimonials .testimonial,
.testimonials .slides h3{
	padding-left: 0;
	padding-right: 120px;
}

ul.testimonials-plus-list li > img{
	float: right;
	margin: 0 0 2px 15px;
}

.slider-control-paging li a{
	font-size: 0;
}

#swipebox-slider{
	direction: ltr;
}

/**********************************
	Content
**********************************/

.content li{
	background-image: url("../images/arrow-left.png");
	background-position: 100% 10px;
	padding: 0 15px 0 0;
}

.content ol,
.content ul{
	margin: 10px 30px 20px 0;
}

.author-infobox img{
	float: right;
	margin: 0 0 0 25px;
}

.content .author-infobox h3{
	float: right;
}

.content .author-infobox p{
	float: right;
}

.content .format-link a.heart-love{
	right: auto;
	top: 6px;
}

.content a.heart-love{
	right: auto;
    left: 0;
	background-position: 100% 1px;
	padding: 0 20px 0 0;
}

.content ul.tags li{
	float: right;
}

.content > .sticky h1.post-title {
	border-right: 3px solid #D7D7D7;
	padding-right: 10px;
	padding-left: 0;
	border-left: none;
}

ul.tags li a:before, .widget-pretty-tags a.pretty-tag:before {
	right: auto;
	left: -25px;
}

ul.tags li a, .widget-pretty-tags a.pretty-tag{
    margin: 0 0 10px 25px;
    float: right;
}

.format-status > img.avatar{
    float: right;
}

.format-status > .author{
	padding: 0 100px 0 0;
}

.format-status .status-content{
	padding-right: 100px;
	padding-left: 0;
}

.format-link > .link-content p:first-of-type a:after{
	left: 21px;
	right: auto;
}



/**********************************
	Sidebar & Footer
**********************************/

#sidebar ul li, 
#footer ul li{
	background-image: url("../images/arrow-left.png");
	background-position: 100% 7px;
	background-repeat: no-repeat;
	padding: 0 15px 0 0;
}

#sidebar .widget-order-handle{
	left: 0;
	right: auto;
}

.widget.widget_recent_entries a{
	float: right;
	margin: 0 0 0 6px;
}

#footer .copyright p{
	float: right;
}

#footer-menu{
	float: left;
}

#footer #footer-menu li{
	margin: 0 25px 0 0;
}

/**********************************
	Comments
**********************************/

.comments-wrapper img.avatar{
	float: right;
}

ul.comments .comment-text,
ul.comments p.author{
	padding: 0 65px 0 0;
}

.comments-wrapper p.logged-in-as{
	text-align: left;
}

.comment-respond .comment-box-wrap span{
	display: none;
}

.comment-respond .comment-box-wrap {
	margin-right: -45px;
	margin-left: 0;
}


.comment-respond .comment-box-wrap > div{
	margin-right: 65px;
	margin-left: 0;
}


.spwp-social-icons-wrapper a{
	float: right !important;
	margin: 0 0 10px 10px !important;
}


.testimonials > .dash{
	left: auto;
	right: 0;
}


/**********************************
	Media Queries
**********************************/

@media screen and
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

	.content li,
	#sidebar ul li, #footer ul li,
	#nav-menu .submenu-parent > a{
		background-image: url('../images/arrow-left@2x.png');
		background-size: 4px 7px;
	}
}

@media screen and (max-width: 980px){
	.menu-toggle{
		left: 75px;
		right: auto;
	}

	#nav-menu.show li.submenu-parent > a:after{
		left: 21px;
		right: auto;
	}

}



@media screen and (max-width: 640px){

	.flexslider.testimonials .slides img,
	.testimonials img{
		float: none;
	}

	.menu-toggle {
		right: auto;
		left: 25px;
		top: 0;
		border-radius: 2px 0 2px 0;
	}

	.site-title a.logo{
		float: none;
	}

	.site-title a.logo img{
		display: inline;
		margin: -5px 0 5px 0;
	}

	.testimonials .testimonial,
	.testimonials .slides h3 {
		padding-left: 0;
		padding-right: 0;
	}

	#footer .copyright {
		margin: 15px -25px 0 0;
	}

	#footer #footer-menu li{
		margin-right: 0;
	}


}