/**********************************
	RTL Styling
**********************************/

#add-new-item input.add-item{
	right: auto;
	left: 0;
	margin: 10px 0 0 8px;
}

a.delete-single-repeat{
	float: left;
}

a.upload-image{
	float: left;
}

.repeatable-form .item-move{
	border-left: none;
	border-right: 1px dotted #DDDDDD;
	float: left;
	height: 37px;
	margin: -4px 0 0 -16px;
}