/**
 * DS framework 
 * admin interface styles
 */



/**
 * Main
 */
.dsf-container {
	
	float: left;
	clear: both; 
	margin: 20px 0px;
	overflow: hidden;
	background: none;
	width: 1000px;
	background-color: #eaeaea;

}

.dsf-container a {
	color: #39b6e4; 
}

.dsf-container a:focus {
	outline: none;
}

.dsf-container h2 , .dsf-container h1 , .dsf-container h3  {
	color: #5F5F5F; 
	font-family: 'Open Sans' , Helvetica , Georgia , sans-serif;
	font-weight: 800;
}

.dsf-container .head {
	background-color: #eaeaea;
	border-bottom: 10px solid #eaeaea;
	padding-top: 10px;

}

.dsf-container .head h1 {
	font-size: 30px;
	line-height: 30px;
	margin: 0px;
	margin-left: 250px;

}
.dsf-container h3  , .dsf-container h4 {
	font-weight: 500;
	color: #5F5F5F; 
	font-family: 'Open Sans' , Helvetica , Georgia , sans-serif;
}

/**
 * Head
 */

.dsf-container .head {
	float: left; clear: both;
	width: 100%;
	margin: 0px;
	position: relative;

}
.dsf-container .head h1 {
	float: left; margin-right: 20px;
	margin-top: 19px;
}
.dsf-container .head .meta {
	position: relative; 
	float: left; 
	margin: 15px 0px;
	padding: 5px 15px;
	background: #fff;
	box-shadow: 0px 1px 2px 1px #EFEFEF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.dsf-container .head .meta p {
	float: left; clear: none; 
	line-height: 100%;
	color: #A4A4A4;
}

.dsf-container .head .meta a {
	text-decoration: none;
	margin-left: 2px;
}


/**
 * Navigation
 */
.dsf-container .pages {
	float: left; clear: both; 
	margin: 0px;
	padding: 0px 0px 20px 0px;


}

.dsf-container .pages .navigation {
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	float: left;
	clear: both;
	position: relative;
	height: 100%; 
	width: 250px;
	padding: 30px 0px 10px 0px;
	background: #EAEAEA; /* Old browsers */
	/* IE6-8 */
}


.dsf-container .pages .navigation ul {
	padding: 0px;
	margin: 0px;
	float: left; 
	clear: both;
	width: 100%;
}

.dsf-container .pages .navigation ul li {
	float: left; 
	clear: both;
	text-align: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.dsf-container .pages .navigation ul li a {
	font-family: 'Open Sans' , Helvetica , Georgia , Arial , sans-serif;
	font-weight: 600;
	font-size: 14px;
	width: 75%;
	padding: 13px 0px 13px 25% ;  
	float: left;
	clear: both;
	display: block;
	color: #3B3B3B;
	text-decoration: none;
	box-shadow: 0px 1px 0px #EBEBEB;
	border-bottom: 1px solid #E2E2E2;

}




.dsf-container .pages .navigation ul li:hover , .dsf-container .pages .navigation ul li.active {
	background: #39b6e4; /* Old browsers */
	/* IE6-8 */

}
.dsf-container .pages .navigation ul li a:hover , .dsf-container .pages .navigation ul li.active a {
	color: #fff;
}

.dsf-container .pages .navigation ul li.links a {
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;;
	background-position: 10% 11px;

}

.dsf-container .pages .navigation ul li.links a[href="#main"] {
		background-image: url(images/icons/main.png);
}

.dsf-container .pages .navigation ul li.links a[href="#social"] {
		background-image: url(images/icons/social.png);
}

.dsf-container .pages .navigation ul li.links a[href="#home"] {
		background-image: url(images/icons/page.png);
}
.dsf-container .pages .navigation ul li.links a[href="#blog"] {
		background-image: url(images/icons/blog.png);
}
.dsf-container .pages .navigation ul li.links a[href="#portfolio"] {
		background-image: url(images/icons/portfolio.png);
}			
.dsf-container .pages .navigation ul li.links a[href="#style"] {
		background-image: url(images/icons/style.png);
}

.dsf-container .pages .navigation ul li.links a[href="#footer"] , .dsf-container .pages .navigation ul li.links a[href="#footer_page"] {
		background-image: url(images/icons/footer.png);
}

.dsf-container .pages .navigation ul li.links a[href="#js"] , .dsf-container .pages .navigation ul li.links a[href="#javascript"] {
		background-image: url(images/icons/js.png);
}






/**
 * Pages
 */

.dsf-container .pages-container {
	width: 740px;
	float: left; margin: 0px;
	padding: 0px 0px 0px 0px;
	background: #FCFCFC;	
	box-shadow: 0px 0px 1px #DFDFDF;
	min-height: 350px;

}

.dsf-container .pages-container .single-page {
	float: left; clear: both;
	width: 91%; margin-left: 3%; 
}


.dsf-container .single-page > h1 {
	font-weight: 800;
	background: #f8f8f8;
	width: 90%;
	padding: 20px 5% 16px 5%;
	float: left;
	clear: both;
	min-width: 300px;
	color: #8D8D8D;
	margin-top: 0px;

}
.dsf-container .single-page .field {
	float: left; clear: both; 
	width: 100%;
	margin-bottom: 30px;
	padding-top: 10px;

}


.dsf-container .single-page .field   h3 {
		border-bottom: 1px solid #EFEFEF;
		padding-bottom: 20px;
		float: left;
		clear: both;
		width: 100%;
		margin-bottom: 20px;
		font-weight: 700;
		color: #8F8F8F;
		font-size: 14px;
	
}

.dsf-container .single-page .field .input {
	width: 45%;
	margin-left: 0px; 
	float: left; 
	margin-right: 5%; 
	border-left-color: 1px solid #E6E6E6;
}

.dsf-container .single-page .field .input.input-with-zebra {
	width: 0px !important;
}
.dsf-container .single-page .field .description {
	clear: none;
	
	float: left;
	width: 50%; 
}

.dsf-container .single-page .field .description  p {
	color: #a4a4a4;
}

.dsf-container .single-page .field:last-child {
	border-bottom: none;
}


.dsf-container .single-page .field .controls {
	float: left; 
	clear: both;
	margin-top: 10px;
	width: 100%;
}

.dsf-container .controls a {
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	float: left; margin-right: 10px;
	display: block;
}


.dsf-container .controls a.upload {
	background: url(images/upload.png) no-repeat;
}


.dsf-container .controls a.remove {
	background: url(images/remove.png) no-repeat;
}

/**
 * Inputs styles mains
 */

.dsf-container .field .input {
	position: relative;
}
.dsf-container input.text , .dsf-container input.email , .dsf-container input[type=text] , 
.dsf-container textarea , .dsf-container .email ,
.dsf-container input[type=email]  {
	float: left;
	clear: both;
	width: 100% !important;
	padding: 10px 10px;
	background: #fff;
	border: 1px solid #EBEBEB;
	border-radius: 3px;
	
}

.dsf-container input.text:focus , .dsf-container input.email:focus , .dsf-container input[type=text]:focus , 
.dsf-container textarea:focus , .dsf-container .email:focus ,
.dsf-container input[type=email]:focus 
{
		border-color: #39b6e4;
}



/**
 * Color
 */

.dsf-container p.colorpickerHolder {
	float: left; margin-right: 5px;
	margin-top: 1px;
}

.dsf-container input.cc {
	width: 85%; 
	clear: none;
	max-width: 85%; 
	float: left;
}

.dsf-container textarea {
	min-height: 100px;
	float: left;
	clear: both;
}



/**
 * Select Menu
 */

.dsf-container select {
	background: #fff;
	border: 1px solid #ebebeb;
	z-index: 0;
	position: relative;
	
}
.dsf-container select.full {
	width: 100%; 
	color: #787878;
	padding: 10px 10px;
	font-weight: normal;
	font-size: 13px;
	min-height: 40px;
	float: left; clear: both; 
	
}


.dsf-container select.half {
	width: 48%; 
	float: left; 
	margin-right: 2%;
	color: #787878;
	padding: 10px 10px;
	font-weight: normal;
	font-size: 13px;
	min-height: 40px;
	float: left; 
	
}


.dsf-container select.half:last-child {
	margin-right: 0px;
}

.dsf-container select.full option {
	float: left; clear: both;
	width: 100%; 
	color: #7f7f7f;
}


.dsf-container select.half option {
	float: left; clear: both;
	width: 100%; 
	color: #7f7f7f;
}

.dsf-container .input .arrow {
	background: url(images/arrow_right.png) no-repeat;
	position: absolute;
	right: 5px;
	top: 7px;
	z-index: 2;
	width: 31px;
	height: 31px;

}



.dsf-container .input .arrow2 {
	background: url(images/arrow_right.png) no-repeat;
	position: absolute;
	left: 38%;
	top: 7px;
	z-index: 2;
	width: 31px;
	height: 31px;

}



/**
 * Checkbox
 */

.dsf-container input.checkbox {
	float: left;
	clear: both;


}

.dsf-container .Zebra_TransForm_Wrapper {
	margin-top: 15px;
}

.dsf-container .iPhoneCheckContainer {
	width: 60px;
}

.dsf-container .iPhoneCheckContainer label {
	width: 40px;
}


/**
 * Value Slider
 */
.dsf-container input.slider {
	width: 43px;
	max-width: 43px;
	float: left; 
}

.dsf-container .slidercontrol {
	position: relative;
	 float: left; 
	clear: none;
	width: 77%;
	margin-left: 5%; 
	margin-top: 13px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #e4e4e4;
}
.dsf-container .slidercontrol input[type=text] {
	text-align: center !important;
}
.dsf-container .slidercontrol a {
	border-radius: 50px;
	background: #fff;
	top: -6px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}



/**
 * Save Button
 */

.dsf-container .pages-container {
	position: relative;
}
.dsf-container .save_post {
	float: right; 
	padding: 15px 30px;
	z-index: 9;
	text-decoration: none;
	margin: 30px 20px 10px 0px;
	position: relative;
	background: #39b6e4;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans' , sans-serif;
	min-width: 80px;
	text-align: center;
	box-shadow: -10px 10px 0px 0px #fff;
}


.dsf-container .reset_options {
	float: left;
	margin: 30px 0px 10px 20px;
	padding: 15px 30px;
	z-index: 9;
	text-decoration: none;
	bottom: 0px;
	position: relative;
	background: #E3393E;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans' , sans-serif;
	min-width: 80px;
	text-align: center;
}

.dsf-container .save_post.loading {
	background: #E3393E;
}




/**
 * Image Upload Div
 */
.dsf-container .input .uploadedImage {
	float: left; 
	clear: both;
	margin: 20px 0px 0px 0px;
	padding: 0px;
	position: relative;
	display: none;
}

.dsf-container .input .uploadedImage  img {
	position: relative;
	z-index: 0;
	max-width: 100%;
	max-height: 100%;
	border: 6px solid #fff;
	-webkit-box-shadow: 0px 2px 4px #d3d3d3;
	box-shadow: 0px 2px 4px #d3d3d3;

}

.dsf-container .input .uploadedImage a {
	position: absolute;
	z-index: 1;
	right: -20px;
	top: 0px;
	cursor: pointer;
	background: url(images/remove.png) no-repeat;
	text-indent: -9999px;
	width: 14px;
	height: 14px;
	display: block;
}



 /* -------------------------------------------------------------- 
 	Image selection
  -------------------------------------------------------------- */
  .dsf-container .images-selection .image
  {
  	float: left;
  	overflow: hidden;
  	width: 24px;
  	height: 24px;
  	margin-right: 5px;
  	border: 2px solid #E0E0E0;
  	cursor: pointer;
  	margin-top: 5px;
  }



    .dsf-container .images-selection-large .image
  {
  	float: left;
  	overflow: hidden;
  	width: 128px;
  	height: 128px;
  	margin-right: 15px;
  	border: 5px solid #E0E0E0;
  	cursor: pointer;
  	margin-top: 5px;
  	margin-bottom: 15px;
  }

  .dsf-container .images-selection .image.active{
  	border: 2px solid #39b6e4;
  }

  .dsf-container .images-selection .image:first-child {
  	background: url(images/none.png) no-repeat;
  }

   .dsf-container .images-selection-large .image.active{
  	border: 5px solid #39b6e4;
  }

  a.reset-input-color {
  	margin-top: 10px;
  	text-decoration: none;
  	float: left;
  }


  input:focus , textarea:focus , select:focus {
	box-shadow: none !important;
}
