/**
 * theme name : business plus
 * custom style for extra post meta fields
 */

.drop_meta_container {
	width: 90%;
	padding: 5%;
	clear: both;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 10px;
	background: #fff;
}

.drop_meta_item {
	
	clear: both;
	margin-bottom: 40px;
	width: 100%;
	float: left;

}

.drop_meta_item label {
	clear: both;
	float: left;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #F0F0F0;
	color: #939393;
}

.drop_meta_item input[type=text] , .drop_meta_item textarea
{
	clear: both;
	width: 100%;
	float: left;
	clear: both;
	width: 100% !important;
	padding: 10px 10px;
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 0px;
	box-shadow: inset 0px 2px 2px #dedede;
	margin-bottom: 10px;

}

.drop_meta_item .inner_meta
{
	clear: both;
}
.drop_meta_item .inner_meta select
{
	clear: both;
	width: 70%;
	border: 1px solid #E4E4E4;
	float: left;
	height: 30px;
}
.drop_meta_item .meta_description {
	float: left;
	clear: both;
}
.drop_meta_item .meta_description p {
	color: #ADADAD;
	font-size: 12px;
	line-height: 20px;
}





/* the gallery */
.drop_meta_item .images-container {
	float: left;
	clear: both;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.drop_meta_item .dsf_media_uploader_button {
	float: left;
	clear: both;
	background: #353535;
	border: none;
	color: #C4C4C4;
	padding: 10px 25px;
	cursor: pointer;
}


.drop_meta_item .images-container .single-image {
	position: relative;
	float: left;
	border: 10px solid #fff;
	box-shadow: 0px 0px 7px #D2D2D2;
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin-right: 25px;
	margin-bottom: 25px;
}

.drop_meta_item   .media_field_content {
	display: none;
}

.drop_meta_item .images-container .single-image span.delete {
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
	cursor: pointer;
	z-index: 1;
	color: #555555;
	float: right;
	font-size: 14px;
	font-family: Tahoma , sans-serif;
	background: #fff;
	padding: 7px 12px;
	font-weight: bold;
}

.drop_meta_item .images-container .single-image:hover span.delete {
	display: block;
}

.drop_meta_item .images-container .single-image img {
	float: left;
	clear: both;
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}